body{
	background-size: cover;
	background-attachment: fixed;
}

#header{
    margin-top: 7vh;
    text-align: center;
    font-size: 3em;
}

#barra{
    font-size: 2em;
    text-align: center;
    width: 35vw;
    margin-top: 15vh;
    margin-left: 32vw;
    margin-bottom: 15vh;
    border-radius: 4vh;
    }
#barra:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#mapa img {
    max-width: 100%;
    height: auto;
}

.celda_resultado{
    
}